# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Local integration test
src/test_pipeline.py

# Virtual environments
venv/
env/
.venv/

# Local data
data/
*.csv

# Generated training outputs
outputs/models/
outputs/results/
outputs/plots/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE files
.vscode/
.idea/
